{% extends 'base.html' %}

{% block header %}
<div class="alert alert-primary" role="alert">
    <h3>詳細</h3>
</div>
{% endblock header %}


{% block content %}
<div class="container">
    <div class="alert alert-success" role="alert">
        <p>タイトル : {{ object.title }}</p>
        <p>投稿者 : {{ object.author }}</p>
        {% if object.snsimg%}
            <p><img src="{{ object.snsimg.url }}" width=300></p>
        {% endif %}
        <a href="#" class="btn btn-primary" role="button" aria-pressed="true">いいね</a>
        <a href="#" class="btn btn-secondary" role="button" aria-pressed="true">既読</a>
    </div>
    <a href="{% url 'list' %}">一覧へ</a>
</div>
{% endblock content %}
